<h1>Listing Authors</h1>
 
<table>
  <tr>
    <th>name</th>
    <th>homepage</th>
    <th></th>
  </tr>
 
  <% @authors.each do |author| %>
    <tr>
      <td><%= author.name %></td>
      <td><%= author.homepage %></td>
      <td><%= link_to 'Show', author_path(author) %></td>
    </tr>
  <% end %>
</table>

<a href=authors_new>'New'</a>